{% extends 'app/base.html' %}
{% load static %}
{% block title %} About {%endblock title %}

{% block main-content %}

<br>
<h2 class="text-center" style="color: azure;">About Us</h2>
<br>
<div class="container">
    <p class="fs-5 text-center" style="color: azure;">
        Our sports wear shop offers a carefully curated selection of high-quality athletic apparel and accessories for both men and women. Our approach emphasizes clean lines and simple designs, with a focus on functionality and comfort. We carry a range of brands that share our commitment to sustainable and ethical manufacturing practices, ensuring that our customers can feel good about the impact of their purchases. From running shoes to yoga pants, our collection has everything you need to feel confident and comfortable while you work out. Come visit us and discover the perfect pieces to elevate your athletic wardrobe.
    </p>
</div>

{% endblock main-content %}