{% extends 'app/base.html' %}
{% load static %}
{% block title %} Contact {%endblock title %}

{% block main-content %}

<br>

<div class="container mt-3">
    <br>
    <h2 class="text-center" style="color: white;">
        Contact Us
    </h2>
    <div class="container">
        <p class="fs-5 text-center" style="color: azure;">Address:
            P.O Box 55 Nairobi
        </p>
        <p class="fs-5 text-center" style="color: azure;">
            Contact: +254000000000
        </p>
        <p class="fs-5 text-center" style="color: azure;"> Email:
            <a href="mailto: info@maringosportsclub.com">info@maringosportsclub.com</a>
        </p>
    </div>
</div>


{% endblock main-content %}