{% extends 'app/base.html' %}
{% load static %}
{% block title %} Password Changed {%endblock title %}

{% block main-content %}

<div class="container my-5">

    <h3 class="text-center" style="color: white;">Password changed successfuly !!</h3>

    <div class="row text-center" style="background-color: white; border-radius: 18px; margin-top: 20px;">

        <!-- <div class="col-sm-9 offset-sm-1 text-center" style="background-color: white; border-radius: 18px; margin-top: 20px;"> -->
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="250" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

                
            </div>
            <div class="container">

                <a href="{% url 'login' %}" class="btn btn-primary" style="margin: 10px;">Login</a>

            </div>


        <!-- </div> -->
    </div>
</div>

{% endblock main-content %}