{% extends 'app/base.html' %}
{% load static %}
{% block title %} Link Sent {%endblock title %}

{% block main-content %}

<div class="container" style="color: white;">
    <div class="my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="alert-heading">
                Password Reset Link Sent
            </h3>
            <p>A link has been sent to your email to reset the password. <b>Please Check Your Email</b></p>
        </div>
    </div>
</div>

{% endblock main-content %}