{% extends 'app/base.html' %}
{% load static %}
{% block title %} Search {%endblock title %}

{% block main-content %}

<div class="container">
    <div class="row" style="padding: 20px;">
        
        {% for prod in products %}

        <div class="col text-center mb-4">
            <a href="{% url 'product-detail' prod.id %}" class="btn">
                <div>
                    <img src="{{ prod.image.url }}" alt="" style="width: 170px; height: 170px; border-radius: 18px;">
                    <div class="fw-bold" style="color: rgb(209, 242, 252); margin-top: 5px;">{{ prod.title }}</div>
                    <div class="fw-bold" style="color: rgb(255, 0, 0);"> 
                        <small class="fw-light text-decoration-line-through">Ksh{{ prod.previous_price }}</small>
                    </div>
                    <div class="fw-bold" style="color: rgb(255, 255, 255);"> Ksh {{prod.current_price}} /-</div>
                </div>
            </a>
        </div>

        {% endfor %}
         
    </div>
</div>

{% endblock main-content %}